body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

.status-incomplete {
  background-color: red;
}

.status-complete {
  background-color: green;
}

#maintenance-request-form {
  display: none;
}

#error-message {
  color: red;
  font-weight: bold;
}
